<tr>
  <td width=175 valign=top style='width:130.95pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='text-align:justify'><b>&nbsp;</b></p>
  </td>
  <td width=468 valign=top style='width:351.0pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'>%member%</p>
  </td>
 </tr>
 <tr>
  <td width=175 valign=top style='width:130.95pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt'>&nbsp;</span></p>
  </td>
  <td width=468 valign=top style='width:351.0pt;border:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:8.0pt'>фамилия, имя, отчество</span></p>
  </td>
 </tr>
