<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=643
 style='width:17.0cm;border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td nowrap style='padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoTitle style='line-height:120%'><span style='font-size:10.0pt;
  line-height:120%'><img width=74 height=74
  src="chsu_logo.jpg"></span></p>
  </td>
  <td nowrap style='padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoTitle><span style='font-size:10.0pt;text-transform:uppercase'>министерство
  образования и науки российской федерации</span></p>
  <p class=MsoTitle><span style='font-size:10.0pt;text-transform:uppercase'>Федеральное
  агентство по образованию</span></p>
  <p class=MsoTitle><span style='font-size:10.0pt'>Государственное
  образовательное учреждение</span></p>
  <p class=MsoTitle><span style='font-size:10.0pt'>высшего профессионального
  образования</span></p>
  <p class=MsoTitle><span style='font-size:10.0pt;text-transform:uppercase'>«череповецкий
  государственный университет»</span></p>
  </td>
 </tr>
</table>

</div>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-family:Academy'>&nbsp;</span></b></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse'>
 <tr>
  <td width=657 colspan=3 valign=top style='width:492.7pt;border:none;
  border-bottom:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:120%'>Институт
  информационных технологий</p>
  </td>
 </tr>
 <tr>
  <td width=657 colspan=3 valign=top style='width:492.7pt;border:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:120%'>(полное
  наименование института (факультета))</p>
  </td>
 </tr>
 <tr>
  <td width=657 colspan=3 valign=top style='width:492.7pt;border:none;
  border-bottom:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:120%'>Кафедра
  программного обеспечения ЭВМ</p>
  </td>
 </tr>
 <tr>
  <td width=657 colspan=3 valign=top style='width:492.7pt;border:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:120%'>(полное
  наименование кафедры)</p>
  </td>
 </tr>
 <tr>
  <td width=657 colspan=3 valign=top style='width:492.7pt;border:none;
  border-bottom:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:120%'>230105
  Программное обеспечение вычислительной техники и автоматизированных систем</p>
  </td>
 </tr>
 <tr>
  <td width=657 colspan=3 valign=top style='width:492.7pt;border:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:120%'>(код
  и наименование направления подготовки (специальности))</p>
  </td>
 </tr>
 <tr>
  <td width=657 colspan=3 valign=top style='width:492.7pt;border:none;
  border-bottom:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:120%'>Государственный
  экзамен (итоговый междисциплинарный)</p>
  </td>
 </tr>
 <tr>
  <td width=657 colspan=3 valign=top style='width:492.7pt;border:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:120%'>(название
  дисциплины согласно учебному плану по направлению подготовки (специальности))</p>
  </td>
 </tr>
 <tr>
  <td width=657 colspan=3 valign=top style='width:492.7pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:120%'><span
  style='font-size:8.0pt;line-height:120%'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=164 valign=top style='width:123.15pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:120%'>Курс</p>
  </td>
  <td width=164 valign=top style='width:123.2pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:120%'><span
  lang=EN-US>5</span></p>
  </td>
  <td width=328 valign=top style='width:246.35pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:120%'>200<span
  lang=EN-US>  </span>/200  учебный год</p>
  </td>
 </tr>
</table>

<p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>

<p class=MsoNormal align=center style='text-align:center;line-height:120%'><b><span
style='font-size:12.0pt;line-height:120%'>Экзаменационный билет № <u>_%cnum%__</u></span></b></p>

