
<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse'>
 <tr>
  <td width=219 valign=top style='width:164.2pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='text-align:justify;line-height:90%'><span
  style='line-height:90%'>Председатель ГЭК</span></p>
  </td>
  <td width=219 valign=top style='width:164.25pt;border:none;border-bottom:
  solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='text-align:justify;line-height:90%'><span
  style='line-height:90%'>&nbsp;</span></p>
  </td>
  <td width=219 valign=top style='width:164.25pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:90%'><span
  style='line-height:90%'>Е.В.Ершов</span></p>
  </td>
 </tr>
 <tr>
  <td width=219 valign=top style='width:164.2pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='text-align:justify;line-height:120%'>&nbsp;</p>
  </td>
  <td width=219 valign=top style='width:164.25pt;border:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:120%'>(подпись)</p>
  </td>
  <td width=219 valign=top style='width:164.25pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:120%'>(расшифровка
  подписи)</p>
  </td>
 </tr>
</table>

